body {
    background: #f1f2f2;
}
.card{
    width: 30%;
    margin: auto;
    margin-top: 10rem;
}
@media screen and (max-width:1000px) {
    .card{
        width: 60%;
    }
  }
  @media screen and (max-width:600px) {
    .card{
        width: 80%;
    }
  }