body {
    background: #f1f2f2;
}

.question {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #dee0e1;
    margin: 10px;
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    padding: 10px;
}

.logged-in {
    font-size: 11px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.main-flex-side {
    width: 20%;

}

.main-flex {
    width: 100%;
}

.picture img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.question .profile .picture img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
.question .picture img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.no-padding{
    padding: 0px!important;
}

.no-top-padding{
    padding-top: 0px!important;
}

.no-bottom-padding{
    padding-bottom: 0px!important;
}


.no-right-padding{
    padding-right: 0px!important;
}

.no-left-padding{
    padding-left: 0px!important;
}

.question .title {
    font-weight: bold;
    font-size: 16px;
}

.social button {
   background: rgb(247, 247, 247);
   color: rgb(73, 73, 73);
   height: 38px;
}

.social .button {
    background: rgb(247, 247, 247);
    color: rgb(73, 73, 73);
    height: 38px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    align-items: flex-start;
    display:inline-block;
    
}

.social.small button {
    height: 28px;
}

.social button:hover {
    box-shadow:inset 1px 1px 1px 1px rgba(163, 163, 163, 0.342);
 }

.upvote {
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    
}

.social button.active{
    background:rgb(226, 226, 226)!important;
    
 }

.downvote {
    border-radius: 0px 10px 10px 0px;
    border: 0px;
}

.comment {
    background: none!important;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
}

.comment:hover {
    background: rgb(247, 247, 247)!important;
}

.comment-section-main {

}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 40px;
    max-height: 200px;
}

.commment-area {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.comment-section {
    padding: 50px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.comments {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.comment-area-parent {
    width: 100%;
}

.categories {
    padding: 10px;
}

.category {
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(0,0,0,0.5);
    margin-bottom: 10px;
    box-shadow:inset 1px 1px 1px 1px rgba(163, 163, 163, 0.342);
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.category.active {
    background: rgb(37, 37, 37);
    color: white;
}

.category:hover {
    background: rgb(90, 90, 90);
    color: white;
}