<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Q&A</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style/style.css" />

</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="landing.html">QandA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="landing.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin.html">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link Disabled" href="#">Disabled</a>
          </li>
        </ul>
        <div class="picture no-bottom-padding no-top-padding d-flex" v-if="user">
          <div class="p2">
            <img v-bind:src="user.url">
          </div>
          <div class="p2 logged-in">
            Inloggad som: <br />
            {{user.uEmail}}
          </div>
        </div>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" v-on:keyup="keymonitor" type="text" id="searchField" placeholder="Search"
            aria-label="Search">

        </form>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" v-on:click=logout()>Log Out</button>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="d-flex">
        <div class="p-2 main-flex-side">

          <div class="categories">

            <div class="category" v-for="category in categories"
              v-bind:class="{ 'active' : category_id == category.cId }" v-on:click="updateCategory(category.cId)">
              {{category.cTitle}}
            </div>

          </div>
        </div>
        <div class="p-2 main-flex">
          <div class="question" v-if="user">
            <div class="d-flex">
              <div class="mr-auto p-2">
                <h4>Ask your question here</h4>
              </div>
              <div classs="p-2">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Category</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option v-bind:value="category.cId" v-for="category in categoriess">{{category.cTitle}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="comment-add">
              <div class="d-flex">
                <div class="p-2 picture no-bottom-padding no-top-padding">
                  <img v-bind:src="user.url">
                </div>
                <div class="p-2 comment-area-parent no-bottom-padding no-top-padding">
                  <div class="input-group mb-3">

                    <input type="text" class="form-control" id="ask-title" placeholder="Title of question"
                      aria-label="Username" aria-describedby="basic-addon1" onfocus="showAskText()">
                  </div>
                  <textarea class="commment-area" placeholder="Question text" id="ask-textarea"
                    oninput="auto_grow(this)"></textarea>
                </div>

                <div class="p-2 no-bottom-padding no-top-padding">
                  <button type="submit" class="btn btn-primary mb-2" onclick="sendQuestion()">Ask</button>
                </div>
              </div>
            </div>

          </div>


          <div class="question" v-for="question in questions">
            <div class="profile" v-if="question.user">

              <div class="profile d-flex flex-row no-padding">
                <div class="p-2 picture no-padding"><img v-bind:src="question.user.url"></div>
                <div class="p-2 mr-auto  name no-top-padding no-bottom-padding">

                  <div class="no-padding">
                    <a href="#">{{question.user.uFirstName}} {{question.user.uLastName}}</a> {{question.qsDate}}
                  </div>
                  <div class="no-padding">
                    <em>Föredetta statsminister, numera konung</em>
                  </div>
                </div>
                <div class="p-2 no-top-padding no-bottom-padding" v-if="user.uId == question.user.uId">

                  <div class="d-flex">
                    <div class="p-2">
                      <div class="form-edit"></div>
                    </div>
                    <div class="p-2">
                      <div class="form-delete" data-toggle="modal" data-target="#removeModal" v-on:click="selectQuestion(question.qsId)"></div>
                    </div>
                  </div>



                </div>
              </div>
              <div class="title">{{question.qsTitle}}</div>
              <div class="question-text">
                {{question.qsText}}
              </div>
              <div class="social d-flex flex-row">
                <div class="p-2  no-right-padding">
                  <button class="upvote" v-on:click="upVoteQuestion(question.qsId)"><img
                      src="images/icons/hand-thumbs-up.svg">
                    {{question.qUpVotes-question.qDownVotes}}</button>
                </div>
                <div class="p-2 no-left-padding">
                  <button class="downvote" v-on:click="downVoteQuestion(question.qsId)"><img
                      src="images/icons/hand-thumbs-down.svg"></button>
                </div>
                <div class="p-2">
                  <button class="comment" v-on:click="showAnswers('#comments-section-'+question.qsId)">
                    <img src="images/icons/chat-left-dots.svg"> {{question.answers.length}}
                  </button>
                </div>
              </div>

              <div class="comment-section-main" v-bind:id="'comments-section-'+question.qsId">
                <hr />
                <div class="comment-add" v-if="user">
                  <div class="d-flex">
                    <div class="p-2 picture no-bottom-padding no-top-padding">
                      <img v-bind:src="user.url">
                    </div>
                    <div class="p-2 comment-area-parent no-bottom-padding no-top-padding">
                      <textarea class="commment-area" v-bind:id="'comment-textarea'+question.qsId"
                        oninput="auto_grow(this)"></textarea>
                    </div>
                    <div class="p-2 no-bottom-padding no-top-padding">
                      <button type="submit" class="btn btn-primary mb-2" v-on:click="sendAnswer(question.qsId)">Add
                        comment</button>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="comment-section">
                  <div class="comments" v-for="comment in question.answers">
                    <div class="profile d-flex flex-row no-padding">
                      <div class="p-2 picture no-padding"><img v-bind:src="comment.user.url">
                      </div>
                      <div class="p-2 name no-top-padding no-bottom-padding">
                        <div class="no-padding">
                          <a href="#">{{comment.user.uFirstName}} {{comment.user.uLastName}}</a> {{comment.aDate}}
                        </div>
                        <div class="no-padding">
                          {{comment.aText}}
                        </div>
                      </div>
                    </div>
                    <div class="social small d-flex flex-row">
                      <div class="p-2  no-right-padding">
                        <button class="upvote" v-on:click="upVoteAnswer(comment.aId)"><img
                            src="images/icons/hand-thumbs-up.svg"> {{comment.aUpVotes -
                          comment.aDownVotes}}</button>
                      </div>
                      <div class="p-2 no-left-padding">
                        <button class="downvote" v-on:click="downVoteAnswer(comment.aId)"><img
                            src="images/icons/hand-thumbs-down.svg"></button>
                      </div>

                    </div>
                  </div>


                </div>
                <br />
                <button type="submit" class="btn btn-primary mb-2"
                  v-on:click="showAnswers('#comments-section-'+question.qsId)">Hide
                  comment
                  section</button>
              </div>



            </div>
          </div>


        </div>
        <div class="p-2 main-flex-side">

        </div>
      </div>


      <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="buymodal1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" v-if="selectedQuestion">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ta bort!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="card-title">Vill du verkligen ta bort {{selectedQuestion.qsId}}?</h5>
              <p class="card-text">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                  v-on:click="removeQuestion(selectedQuestion.qsId)">Ta bort</button>
              </p>
  
            </div>
  
          </div>
        </div>
      </div>


    </main>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <!--jquery 3 slim version doesn't support Ajax-->
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        hej: "Du skall icke passera",
        loggedInUser: {},
        category_id: -1,
        categoriess: [],
        categories: [{
          "cId": -1,
          "cTitle": "All",
          "cDescription": "All categories"
        }],
        user: {},
        questions: [],
        selectedQuestion : []

      },
      methods: {
        loadCategories: function () {
          //Update Categories
          $.ajax({
            url: '/category',
            type: 'GET',
            success: (data) => {

              this.categoriess = Array.from(data)
              this.categories = data

              this.categories.unshift({
                "cId": -1,
                "cTitle": "All",
                "cDescription": "All categories"
              })
            }
          });

          //update questions
        },
        loadQuestions: function (hide = true) {
          //Load  questions
          $.ajax({
            url: '/question',
            type: 'GET',
            success: (data) => {

              if (this.category_id == -1) {
                this.questions = data
              } else {
                //Filter out by category
                this.questions = []
                for (const id in data) {
                  let question = data[id]
                  if (question.cId == this.category_id)
                    this.questions.push(question)
                }

              }



              if (hide) {
                this.$nextTick(() => {
                  hideAll()
                });
              }

            }
          });



          //update questions
        },
        getUserById: function (id) {
          //Load  questions
          $.ajax({
            url: '/user/' + id,
            type: 'GET',
            success: (data) => {
              return data[0]
            },
            error: (data) => {
              return null
            }
          });

          //update questions
        },
        getLoggedIn: function () {


          $.ajax({
            url: '/loggedinuser',
            type: 'GET',
            success: (data) => {

              if (data["loggedIn"]) {
                this.user = data["user"]
              } else {
                console.log("You shall not pass")
                window.location.href = "/";
              }



            },
            error: (data) => {
              console.log("Error", data)
            }
          });

        },
        logout() {

          $.ajax({
            url: '/logout',
            type: 'GET',
            data: this.user,
            success: () => {
              this.user = {}
              window.location.href = "/";
            }
          });
        },

        upVoteQuestion: function (id) {
          let dat = { qsId: id }
          ///question/upvote
          $.ajax({
            url: '/question/upvote',
            data: dat,
            type: 'PUT',
            success: function (data) {
              vm.loadQuestions(false)

            },
            error: function (data) {
              console.log("Error", data)
            }
          });
        },
        downVoteQuestion: function (id) {
          let dat = { qsId: id }
          $.ajax({
            url: '/question/downvote',
            data: dat,
            type: 'PUT',
            success: function (data) {
              vm.loadQuestions(false)
            },
            error: function (data) {
              console.log("Error", data)
            }
          });
        },

        upVoteAnswer: function (id) {
          let dat = { aId: id }
          ///question/upvote
          $.ajax({
            url: '/answer/upvote',
            data: dat,
            type: 'PUT',
            success: function (data) {
              vm.loadQuestions(false)

            },
            error: function (data) {
              console.log("Error", data)
            }
          });
        },
        downVoteAnswer: function (id) {
          let dat = { aId: id }
          $.ajax({
            url: '/answer/downvote',
            data: dat,
            type: 'PUT',
            success: function (data) {
              vm.loadQuestions(false)
            },
            error: function (data) {
              console.log("Error", data)
            }
          });
        },
        sendAnswer: function (qsId) {
          let text = $("#comment-textarea" + qsId).val()
          let categoryid = $("#inputGroupSelect01").val()
          let userId = vm.user.uId
          //data.qsId, data.uId, data.aText
          dat = {
            "qsId": qsId,
            "uId": userId,
            "aText": text,
          }
          $.ajax({
            url: '/answer',
            data: dat,
            type: 'POST',
            success: function (data) {
              vm.loadQuestions(false)
              resetAnswer(qsId)
            },
            error: function (data) {
              console.log("Error", data)

            }
          });

        },
        removeQuestion: function (qsId) {
          let dat = { "qsId": qsId }
          $.ajax({
            url: '/question',
            data: dat,
            type: 'DELETE',
            success: function (data) {
              vm.loadQuestions(false)
            },
            error: function (data) {
              console.log("Error", data)
            }
          });
        },

        updateCategory: function (id) {
          this.category_id = id
          this.loadQuestions()
        },
        showAnswers: function (id) {
          $(id).fadeToggle();
        },

        selectQuestion(qsId) {
          $.ajax({
            url: "/question/" + qsId,
            type: 'GET',
            success: (data) => {
              this.selectedQuestion = data
            }
          });
        },

        keymonitor: function (event) {

          let q = $("#searchField").val();



          if (q) {
            $.ajax({
              url: '/search/' + q,
              type: 'GET',
              success: (data) => {
                console.log("error", data)

                this.questions = data

                this.$nextTick(() => {
                  hideAll()
                });

              }
            });
          }

        },
      },

    });
    vm.getLoggedIn()
    vm.loadCategories()
    vm.loadQuestions()

    //From stackoverflow https://stackoverflow.com/questions/17772260/textarea-auto-height
    function auto_grow(element) {
      element.style.height = "5px";
      element.style.height = (element.scrollHeight) + "px";
    }

    function showComments(id) {
      $(id).fadeToggle();
    }

    function hideById(id) {
      $(id).hide()
    }

    function showAskText() {
      $("#ask-textarea").show()
    }

    function resetQuestion() {

      $("#ask-title").val("")
      $("#ask-textarea").val("")
      $("#ask-textarea").hide()
    }

    function resetAnswer(qsId) {
      $("#comment-textarea" + qsId).val("")
    }

    function sendQuestion() {
      let title = $("#ask-title").val()
      let text = $("#ask-textarea").val()
      let categoryid = $("#inputGroupSelect01").val()
      let userId = vm.user.uId

      dat = {
        "qsTitle": title,
        "qsText": text,
        "uId": userId,
        "cId": categoryid,
      }

      $.ajax({
        url: '/question',
        data: dat,
        type: 'POST',
        success: function (data) {
          vm.loadQuestions()
          resetQuestion()
        },
        error: function (data) {
          console.log("Error", data)

        }
      });

    }









    function hideAll() {
      $(".comment-section-main").hide()
    }


    $(document).ready(function () {



      $("#ask-textarea").hide()
      $(".comment-section-main").hide()

      $(".commment-area").height(5)




    });





  </script>
</body>

</html>